<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notre cuisine végétale</title>
  <base href="https://znichola.github.io/notre_cuisine_vegetal/" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div class="site-title">notre cuisine végétale</div>
  </header>
  <main>
    <section class="recipe">
      <h3>Nos recettes Incroyables</h3>
        <ul>{{range .}}
          <li>
            <h4><a href="./{{.Url}}">{{.Title}}</a></h4>
          </li>{{end}}
        </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Delicious Recipe. All rights reserved.</p>
  </footer>
</body>

</html>