<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notre cuisine végétale</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header>
    <div class="site-title">notre cuisine végétale</div>
  </header>
  <main>
    <section class="recipe">
      <h1>Nose recette incroyable</h2>
        <ul>
          <li>
            <a href="/green_lazagna">Lazagne verte</a>
          </li>
          <li>
            <a href="/polenta_cremeuse">Polenta crémeuse</a>
          </li>
        </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Delicious Recipe. All rights reserved.</p>
  </footer>
</body>

</html>