<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notre cuisine végétale</title>
  <base href="https://znichola.github.io/notre_cuisine_vegetal/" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div class="site-title">notre cuisine végétale</div>
    <a class="home-btn" href="../"> &lt; retour</a>
  </header>
  <main>
    <section class="recipe">
      <h1>{{.Title}}</h2>
        <p class="description">{{.SubTitle}}</p>
        <h2>Ingredients</h3>{{range .Sections}}
          <h3>{{.Title}}</h3>
          <ul class="buffer">{{range .Ingredients}}
            <li>{{.}}</li>{{end}}
          </ul>{{end}}
          <h2>Instructions</h2>{{range .Sections}}
          <h3>{{.Title}}</h3>
          <ol class="buffer">{{range .Instructions}}
            <li>{{.}}</li>{{end}}
          </ol>{{end}}
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Delicious Recipe. All rights reserved.</p>
  </footer>
</body>

</html>