<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notre cuisine végétale</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header>
    <div class="site-title">notre cuisine végétale</div>
    <a class="home-btn" href="/"> &lt; retour</a>
  </header>
  <main>
    <section class="recipe">
      <h1>{{.Title}}</h2>
      <p class="description">{{.Intro}}</p>
      <h2>Ingredients</h3>
      <ul>{{range .Ingredients}}
        <li>{{.}}</li>{{end}}	
      </ul>
      <h2>Instructions</h2>
      <ol>{{range .Instructions}}
        <li>{{.}}</li>{{end}}
      </ol>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Delicious Recipe. All rights reserved.</p>
  </footer>
</body>

</html>